* {
    font-family: 'Poppins', sans-serif;
}


.title {
    font-size: 64px;
    font-weight: 600;
}
.heading {
    font-size: 48px;
    font-weight: 600px;
}

.text {
    font-size: 20px;
}

.btn {
    display: inline-block;
    padding: 14px 44px;
    border-radius: 10px;
}