.help {
    display: flex;
    align-items: center;
    gap: 90px;
    padding-bottom: 80px;
    margin-bottom: 146px;

    &-content {
        width: 400px;
    }

    &-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 34px;
        

        .item {
            width: 310px;
            height: 380px;
            border-radius: 40px;
            display: flex;
            align-items: center;
            flex-direction: column;
            border-radius: 40px;
            box-shadow: 0 0 10px 1px #ccc;

            &-img {
                margin: 63px 0 31px;
                display: inline-block;
                background-color: #f1f7ff;
                border: 24px solid #f1f7ff;
                border-radius: 20px;
            }

            &-heading,
            &-desc {
                max-width: 245px;
                text-align: center;
            }

            &-heading {
                margin-bottom: 27px;
                font-size: 24px;
            }

            &:nth-child(odd) {
                position: relative;
                top: 80px;
            }
        }
    }
}
