// button
.btn {
    &-curved {
        &__orangelinear {
            font-weight: 700;
            font-size: 14px;
            padding: 12px 20px;
            border-radius: 4px;
            color: #fff;
            background: linear-gradient(180deg, #F05C22 0%, #F05C22 27.89%, #DE3721 89.06%, #AB1F00 97.4%);
        }
    }

    &__more {
        padding: 5px 15px;
        color: #F05C22;
        background: #fff;
        border-radius: 4px;
        height: 46px;
        font-weight: 700;
    }
}

// flex
.flex {
    display: flex;

    // justify
    &-justify {
        &__center {
            display: flex;
            justify-content: center;
        }

        &__between {
            display: flex;
            justify-content: space-between;
        }

        &__around {
            display: flex;
            justify-content: space-around;
        }
    }
    // aligns
    &-align__center {
        display: flex;
        align-items: center;
    }

    // both
    &-hcenter-vcenter {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-hbetween-vcenter {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}

.vflex {
    &--end-center {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
    &-center-start {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}

.flex-1 {
    flex: 1;
}

// gap

.gap {
    &-20 {
        gap: 20px;
    }

    &-10 {
        gap: 10px;
    }

    &-5 {
        gap: 5px;
    }
}

// margin
.m {
    &b {
        &-20 {
            margin-bottom: 20px;
        }
    }
}

.mwidth {
    max-width: 1080px;
}

// vertical ruler
.vr {
    &-thin-15px {
        width: 1px;
        height: 15px;
        background-color: #000;
    }
}

// height
.height {
    &-full {
        height: 100%;
    }
}

// icon
.icon {
    &-32 {
        font-size: 32px;
    }

    &-24 {
        font-size: 24px;
    }

    &-circle-white-32 {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50rem;
        width: 40px;
        height: 40px;
        color: orange;
        box-shadow: 0px 0px 4px rgba(240, 92, 34, 0.25);
        font-size: 1.5rem;
    }
}

.main {
    width: 100%;
    height: 500vh;
}